@{
    ViewData["Title"] = "Nuevo Usuario";
    var mensaje = ViewData["Mensaje"];
    @model tienda.Models.Usuario;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Bootstrap CSS -->
  
</head>
<body>
    
        <section class="section">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-one-third">
                        <h1 class="title">Crear usuario</h1>
                    @using (Html.BeginForm("Index", "CrearUsuario", FormMethod.Post, new { @class = "column" }))
                    {
                        <div class="field">
                            @Html.Label("Usuario",null,new{@class="label"})
                            <div class="control">
                                @Html.TextBoxFor(m=>m.NombreUsuario,"Ingrese su Usuario", new{@class="input is-info",@type="usuario"})
                            </div>
                        </div>
                        <div class="field">
                            @Html.Label("Correo Electronico", null, new { @class = "label" })
                            <div class="control">
                                @Html.TextBoxFor(m => m.Correo, "Ingrese su correo electronico", new { @class = "input is-info", @type = "email" })
                            </div>
                        </div>
                        <div class="field">
                            @Html.Label("Contraseña", null, new { @class = "label" })
                            <div class="control">
                                @Html.TextBoxFor(m => m.Contraseña, "Ingrese su Contraseña", new { @class = "input is-info", @type = "password" })
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-info">Confirmar</button>
                            </div>
                        </div>
                    }
                    @if(mensaje != null)
                    {
                        @switch (mensaje)
                        {
                            case "1":
                                {
                                    <article class="message is-success">
                                        <div class="message-header">
                                            <p>Exito!</p>
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                        <div class="message-body">
                                            Se guardo satisfactoriamente el usuario!
                                        </div>
                                    </article>
                                    break;
                                }
                            case "2":{
                                    <article class="message is-danger">
                                        <div class="message-header">
                                            <p>Error!</p>
                                            <button class="delete" aria-label="delete"></button>
                                        </div>
                                        <div class="message-body">
                                           No se pudo guardar
                                        </div>
                                    </article>


                                    break;
                                }

                        }
                    }

                </div>
            </div>
        </div>
    </section>


</body>